$contrail: 'Contrail One', cursive;
$ubuntu: 'Ubuntu Mono', fixed-width;
$heebo: 'Heebo', sans-serif;

$lightred: #e88f80;
$red: #ED3B1C;

$title1: #0080ff;
$shadow1: #0040aa;
$topic1: #00ff80;

$title2: #ff0080;
$shadow2: #880050;
$topic2: #0ff;

$shadow3: #aa8d00;

$vvlight: #ccc;
$verylighter: #aaa;
$verylight: #888;
$lighterer: #666;
$lighter: #555;
$light: #444;
$dark: #333;
$verydark: #222;
$vvdark: #1a1a1a;
$vvvdark: #0a0a0a;

$background: #2a2a2a;
