@import "variables";

.tip {
  padding-bottom: 5px;
  background-image: linear-gradient(to bottom, $dark, $dark),
    linear-gradient(to bottom, $verydark, $verydark);
  background-clip: content-box, padding-box;
  margin: 30px;
  font-size: 0.8rem;
  h2 {
    background-color: $light;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-align: center;
  }
  ul {
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
    li {
      list-style-type: none;
    }
  }
}

.one ul>.topic { color: $topic1; }
.one h2 { color: white;
    background-color: $title1; }
.two ul>.topic { color: $topic2; }
.two h2 { color: white;
    background-color: $title2; }

.clear {
  height: 10px;
  background-color: $background;
}
.clear-big {
  height: 12px;
  background-color: $background;
}
.shadow {
  height: 5px;
  background-color: $verydark;
}
.shadow1 {
  height: 6px;
  background-color: $shadow1;
}
.shadow2 {
  height: 6px;
  background-color: $shadow2;
}

.link {
  color: #ff0;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
