main {
  padding: 100px 0 0 0;
}

.container {
  max-width: 1024px !important
}

#brand {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

#brand a {
  text-decoration: none;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  background-color: #fff !important;
  border-color: #ccc !important;
  border-width: 0 0 2px !important;
  height: 100px;
}

nav .container {
  vertical-align: middle;
  height: inherit;
}

main .container {
  background-color: #fff;
}

nav ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding: 10px;
}

.container.section {
  height: 500px;
  background-color: #333 !important;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
}

.div-one {
    background-image: url('http://i.imgur.com/zdZtCHz.jpg');
    background-repeat: no-repeat;
}

.div-two {
    background-image: url('http://i.imgur.com/zdZtCHz.jpg');
    background-repeat: no-repeat;
}

.div-three {
    background-image: url('http://i.imgur.com/zdZtCHz.jpg');
    background-repeat: no-repeat;
}

footer ul {
  padding: 0px;
}

footer ul li {
  display: inline;
  padding: 10px;
}

.button {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 48px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button:hover {
  border: solid 2px #fff;
  color: #333;
  background: #fff;
}

footer .container-fluid {
  height: 200px;
  background-color: #333;
}

footer .container {
  height: inherit;
  background-color: inherit;
}
