/* ---- color codes ---- */
.dark-liver    { color: #50514f; }
.sunset-orange { color: #f25f5c; }
.mustard       { color: #ffe066; }
.lapis-lazuli  { color: #247ba0; }
.green-sheen   { color: #70c1b3; }

/* ---- font families ---- */
.space-mono        { font-family: 'Space Mono', monospace; }
.scope-one         { font-family: 'Scope One', serif; }
.libre-baskerville { font-family: 'Libre Baskerville', serif; }

html, body {
  background: white;
  color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 900px) {
  html { font-size: 0.8em; }
}
@media screen and (max-width: 700px) {
  html { font-size: 0.7em; }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

main {
  flex-grow: 1;
}
main {
  font-family: serif;
  color: #fff;
  width: 100%;
  padding: 5em 0 5em 0;
}
main p {
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
}
main p em {
  color: #000;
}
main .title {
  font-family: 'Scope One', serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 0.8em;
  text-shadow: 2px 2px #000;
  margin: 0;
}


header, main, footer {
  flex-shrink: 0;
}

header {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .title {
  font-family: 'Scope One', serif;
  font-size: 3em;
  line-height: 0.8em;
  text-shadow: 2px 2px #000;
  margin: 0;
}

main {
  font-family: serif;
  color: #fff;
  width: 100%;
  padding: 5em 0 5em 0;
}
main p {
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
}
main p em {
  color: #000;
}

code {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  text-shadow: 2px 2px #000;
  color: #ffe066;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background: #50514f;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.no-style-link {
  color: #fff;
  text-decoration: none;
}

/* .bottom-left {}
@media screen and (max-width: 500px) {
  .bottom-left { display: none; }
}

.bottom-right {}
@media screen and (max-width: 500px) {
  .bottom-right { display: none; }
} */
