@font-face {
  font-family: 'youngserifregular';
  src: url('../youngserif-regular-webfont.woff2') format('woff2'),
       url('../youngserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 95%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

main {
  margin: 0;
  padding: 0;
}

.middle-wrapper {
  left: 10%;
  width: 80%;
  padding-bottom: 1em;
  margin-bottom: 70px;
  position: absolute;
  text-align: center;
}

header { 
  height: 3em;
  line-height: 3em;
  background-color: #000;
  color: #fff;
}

article.about-hero {
  margin: 0;
  background-color: #fff;
}
.about-hero > h1 {
  font-family: "youngserifregular";
  text-align: center;
}

.subtitle {
  width: 80%;
  margin: auto;
  text-align: center;
}

article {
  margin: 40px;
  background-color: #8c8c8c33;
  padding: 2em;
}

section {
  padding: 1em 0;
}

.logo {
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: inline;
  padding: 10px;
}

nav {
  margin-right: 20px;
  height: inherit;
}
.nav > li {
  display: inline;
  padding: 5px;
}
li.menu { float: right; }
li.home { float: left; }

.hamburger {
  text-decoration: none;
  display: none;
  font-weight: 900;
  float: right;
  margin: 0.5em 0 0 0;
  line-height: 3em;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 0;
}

.nav > li > a, .nav > li > a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.menu > a:hover {
  text-decoration: underline;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  padding: 0;
}
.skills-grid > li {
  background-color: #8c8c8c99;
  width: fit-content;
  height: 1em;
  margin: 0 auto;
}

@media only screen and (max-width: 2200px) {
  .alan { font-size: 10em; }
}
@media only screen and (max-width: 1800px) {
  .alan { font-size: 8em; }
} 
@media only screen and (max-width: 1400px) {
  .alan { font-size: 6em; }
}
@media only screen and (max-width: 1000px) {
  .alan { font-size: 4em; }
}
@media only screen and (max-width: 700px) {
  .alan { font-size: 3em; }
  li.menu { display: none; }
  .hamburger { display: inline; }
}

/* Suspiciously small screens */
@media only screen and (max-width: 300px) {
  main { display: none; }
  .egg {
    display: block;
    position: absolute;
    left: 20%;
    top: 20%;
  }
  .egg:after {
    font-size: 2em;
    content: "😶";
  }
}
@media only screen and (max-width: 265px) {
  footer, .hamburger { display: none; }
}
@media only screen and (max-width: 230px) {
  .home { display: none; }
  .egg:after { content: "🙂"; }
}
@media only screen and (max-width: 170px) {
  .egg:after { content: "😀"; }
}
@media only screen and (max-width: 80px) {
  .egg:after { content: "👋"; }
}
