@font-face {
  font-family: 'RuneScape UF';
  src: url('runescape_uf.ttf') format('truetype');
}

$runescape: 'RuneScape UF', sans-serif;

#rune {
  font-family: $runescape;
  h2 {
    text-shadow: 2px 2px 0 #000;
    color: white;
  }
}

ul {
  text-shadow: 1px 1px 0 #000;
  list-style: none;
  padding: 0;
  li { padding: 2px 0 2px 0; }
}

.av { color: #d5d7e3; }
.av-x { color: #7c96c8; }
.harp { color: #daf199; }

.sh { color: #4e72c1; }
.sh-r { color: #4e72c1; }
.r3 { color: #c8ca8f; }
.r3-e { color: #c8ca8f; }

.leo { color: #bdbebb; }
.tb-l { color: #c7c9cc; }
.tb { color: #a92a35; }
.tb3 { color: #f9536b; }

.rr { color: #f3f549; }
.fb { color: #42c090; }
.fd3 { color: #6a85ac; }

.g-tdb { color: #76326e; }
.tdb { color: #5b5874; }
.bst { color: #043575; }
.orc { color: #00659a; }
