@font-face {
  font-family: "RuneScape UF";
  src: url("runescape_uf.ttf") format("truetype");
}
#rune {
  font-family: "RuneScape UF", sans-serif;
}
#rune h2 {
  text-shadow: 2px 2px 0 #000;
  color: cyan;
}

ul {
  text-shadow: 1px 1px 0 #000;
  list-style: none;
  padding: 0;
}
ul li {
  padding: 2px 0 2px 0;
}

.av {
  color: white;
}

.av-x {
  color: blue;
}

.harp {
  color: yellow;
}

.sh {
  color: blue;
}

.sh-r {
  color: red;
}

.r3 {
  color: lightgreen;
}

.r3-e {
  color: limegreen;
}

.leo {
  color: white;
}

.tb-l {
  color: white;
}

.tb {
  color: red;
}

.tb3 {
  color: pink;
}

.rr {
  color: yellow;
}

.fb {
  color: lightblue;
}

.fd3 {
  color: purple;
}

.g-tdb {
  color: purple;
}

.tdb {
  color: purple;
}

.bst {
  color: blue;
}

.orc {
  color: blue;
}
