@font-face {
  font-family: "RuneScape UF";
  src: url("runescape_uf.ttf") format("truetype");
}
#rune {
  font-family: "RuneScape UF", sans-serif;
}

h2 {
  text-shadow: 2px 2px 2px #000;
  color: cyan;
}

ul {
  text-shadow: 1px 1px 1px #000;
  list-style: none;
  padding: 0;
}
ul li {
  padding: 2px 0 2px 0;
}
